html, body{
    background-color:white;
    position: relative;
    min-width:1024px;
    min-height: 768px;
    height: 100%;
}

p {
    color: black;
}

h1{
    color: #d8d3c1;
    text-align: center;
}