body {
    background: #CD7034
}

.form-control:focus {
    box-shadow: none;
    border-color: #CD7034
}

.profile-button {
    background: #CD7034;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #CD7034
}

.profile-button:focus {
    background: #CD7034;
    box-shadow: none
}

.profile-button:active {
    background: #CD7034;
    box-shadow: none
}

.back:hover {
    color: #CD7034;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #cd7134c2;
    color: #fff;
    cursor: pointer;
    border: solid 1px #cd7134c2
}

.overlay {
    position: absolute;
    color: white;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: green;
}
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .fa-user:hover {
    color: #eee;
  }
