{% extends "structure.html" %}

{% block main %} 
<style>
.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
  background-color: #CD7034;
}
.a-color,
.a-color:hover,
.a-color:active,
.a-color:visited,
.a-color:focus{
  color: #CD7034;
}
</style>

 
 <form action="/login" method="post" class="form-signin">
    <img  align="center" src="/static/img/pix.png" alt="" width="300" height="100">

    <h1 class="h3 mb-3 fw-normal"></h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Email" name="username" required autofocus>
      <label for="floatingInput">Email</label>
    </div>
    <p></p>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Contraseña" name="password" required>
      <label for="floatingPassword">Contraseña</label>
    </div>
    <p></p>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    <p></p>

    <div class="alert alert-danger" role="alert">
        Email o contraseña no son correctos.
      </div>

    <p> ¿No tiene cuenta? <a class="a-color" href="/signup">Registrese aqui</a> </p>
   
  </form>
  {% endblock main %}