<html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/navbar-fixed/">
      <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

      <!-- Bootstrap core CSS -->
      <link href="/static/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/css/user-profile.css" rel="stylesheet">
      <link href="static/css/navbar-top-fixed.css" rel="stylesheet">
      <link href="static/css/carousel.css" rel="stylesheet">
      <link href="static/css/perfil.css" rel="stylesheet">
      
      <title>TuHogar</title>
    </head>
 
    <body>
        {% block main %} 
        <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-bg">
          <img  align="center" src="/static/img/logo-bg.png" alt="" width="200" height="80">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="#"><span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="quienes">Quiénes Somos<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="comofunciona">Cómo funciona</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="perfil">Perfil</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Servicios
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="albanil">Albañil</a></li>
                    <li><a class="dropdown-item" href="#">Autos</a></li>
                    <li><a class="dropdown-item" href="#">Carpintero</a></li>
                    <li><a class="dropdown-item" href="#">Cerrajero</a></li>
                    <li><a class="dropdown-item" href="#">Control de plagas</a></li>
                    <li><a class="dropdown-item" href="#">Cuidador</a></li>
                    <li><a class="dropdown-item" href="electricista">Electricista</a></li>
                  </div>
                </ul>
              <form class="form-inline my-2 my-lg-0">
                <a class="nav-link" href="logout">Salir<span class="sr-only">(current)</span></a>
              </form>
            </div>
          </nav>
        </header>
          <main role="main">
            <br>
            <br>
            <br>
            <br>
            <br>
            <div class="container rounded bg-white mt-5 mb-5">
              <div class="row">
                  <div class="col-md-3 border-right">
                      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Nombre</span><span class="text-black-50">{{ session['username'] }}</span><span> </span></div>
                  </div>
                  <div class="col-md-5 border-right">
                      <div class="p-3 py-5">
                          <div class="d-flex justify-content-between align-items-center mb-3">
                              <h4 class="text-right">Configuración - Perfil </h4>
                          </div>
                          <form action="{{ url_for('my_form') }}" method="POST" autocomplete="on" >
                          <div class="row mt-2">
                            <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" placeholder="Ingrese email" name="username" value="{{ session['username'] }}"></div>
                            <div class="col-md-12"><label class="labels">Contraseña</label><input type="text" class="form-control" placeholder="Cambie Contraseña" name="password" value=""></div>
                            <div class="col-md-12"><label class="labels">Tipo de usuario</label><input type="text" class="form-control" placeholder="Profesional" name="favorite_color" value=""></div>
                              <div class="col-md-6"><label class="labels">Nombre</label><input type="text" class="form-control" placeholder="Ingrese Nombre" name="nombre" value="{{ session['usuario'] [0] [4]  }}"></div>
                              <div class="col-md-6"><label class="labels">Apellido</label><input type="text" class="form-control" name="apellido" placeholder="Ingrese Apellido" value="{{ session['usuario'] [0] [5]  }}"></div>
                          </div>
                          <div class="row mt-3">
                              <div class="col-md-12"><label class="labels">Número de Contacto</label><input type="text" class="form-control" name="numContacto" placeholder="Ingrese número de telefono" value="{{ session['usuario'] [0] [6]  }}"></div>
                              <div class="col-md-12"><label class="labels">Dirección</label><input type="text" class="form-control" name="dire" placeholder="Ingrese dirección" value="{{ session['usuario'] [0] [7]  }}"></div>
                              <div class="col-md-12"><label class="labels">Dir.número:</label><input type="text" class="form-control" name="dirNum" placeholder="Ingrese número de dirección" value="{{ session['usuario'] [0] [8]  }}"></div>
                              <div class="col-md-12"><label class="labels">Código postal</label><input type="text" class="form-control" name="postal" placeholder="Ingrese código postal" value="{{ session['usuario'] [0] [9]  }}"></div>

                          </div>
                          <div class="row mt-3">
                              <div class="col-md-6"><label class="labels">País</label><input type="text" class="form-control" placeholder="País" name="pais" value="{{ session['usuario'] [0] [10]  }}"></div>
                              <div class="col-md-6"><label class="labels">Ciudad</label><input type="text" class="form-control" name="ciudad" placeholder="Ciudad" value="{{ session['usuario'] [0] [11]  }}"></div>
                          </div>
                        
                          <div class="mt-5 text-center"><input class="btn btn-primary profile-button" type="submit"></input></div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-4">
                      <div class="p-3 py-5">
                        <form action="{{ url_for('my_form1') }}" method="POST" >
                          <div class="d-flex justify-content-between align-items-center experience"><span>Editar experiencia</span>
                            <input class="btn btn-primary profile-button" value="Enviar experiencia" type="submit"></input>&nbsp;</span></div><br>
                          <div class="col-md-12"><label class="labels">Experiencia</label><input type="text" class="form-control" name="experiencia" placeholder="Experiencia" value="{{ session['usuario'] [0] [12]  }}"></div> <br>
                          <div class="col-md-12"><label class="labels">Profesión</label>
                            <div class="form-floating">
                            <select class="form-control" id="exampleFormControlSelect1" aria-label=".form-select-lg example" name="detalles"></div>
                            <option class="font-size">Albanil</option>
                            <option class="font-size">Electricista</option>
                          </select>
                        </div>
                          </div>
                  </div>
                </form>
              </div>
          </div>
          </div>
          </div>
    
          </div>
      
      
              
            </div>
      
      
            <!-- FOOTER -->
            <footer class="site-footer">
              <div class="container">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <h6>Sobre Nosotros</h6>
                    <p class="text-justify">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                  </div>
        
                  <div class="col-xs-6 col-md-3">
                    <h6>Redes Sociales</h6>
                    <ul class="footer-links">
                      <li><a href="http://scanfcode.com/about/">Facebook</a></li>
                      <li><a href="http://scanfcode.com/contact/">Instagram</a></li>
                    </ul>
                  </div>
                </div>
                <hr>
              </div>
              <div class="container">
                <div class="row">
                  <div class="col-md-8 col-sm-6 col-xs-12">
                    <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by 
                 <a href="#">TuHomeApp</a>.
                    </p>
                  </div>
                </div>
              </div>
        </footer>
          </main>
      
        {% endblock main %} 
          
      
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
      
      <script src="/static/js/popper.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
    </body>
  
    </html>
